<!DOCTYPE html>
  <%- include('../partials/head'); %>

  <body class="container">
      <%- include('../partials/header', {pagina: 'Sobre'}); %>

      <main>
        <div class="jumbotron">
          <h1>Sobre mim</h1>
          <p>Oi, eu sou Jorge Lucas Trigo Coronado e estou desenvolvendo uma aplicação ejs</p>
        </div>
      </main>
  </body>

  <%- include('../partials/footer') %>
</html>